<div>
  <p class="mb-s">Hello <%= @recipient.first_name %>,</p>
  <p>
    Whether you're deep into the plot twists or savoring each chapter, we'd love to hear about your reading progress.
    Feel free to share your thoughts, favorite moments, or any questions you might have.
  </p>
  <p>Keep those pages turning!</p>
  <p class="mt-s">Cheers!</p>
</div>
