<div>
  <p class="mb-s">Hello <%= @recipient.first_name %>,</p>
  <p>A book has made its way out of the Bookshelf!</p>
  <p>
    <span class="font-bold"><%= @reserver.full_name %></span> started reading <span class="font-bold"><%= @book.title %></span>.
  </p>
  <p class="mt-s">Best,</p>
  <p>The Bookshelf team</p>
</div>
