<div>
  <p class="mb-s">Hello <%= @recipient.first_name %>,</p>
  <p>Exciting news—another book adventure is about to unfold on the Bookshelf!</p>
  <p><span class="font-bold"><%= @reserver.full_name %></span> just snagged a reservation for <span class="font-bold"><%= @book.title %></span> on <%= @book.active_reservation.created_at %></p>
  <p>Keep those pages turning!</p>
  <p class="mt-s">Cheers!</p>
</div>
