<div>
  <p class="mb-s">Hey <%= @recipient.first_name %>,</p>
  <p>A book has made its way back to the Bookshelf!</p>
  <p>
    <span class="font-bold"><%= @reserver.full_name %></span> finished reading <span class="font-bold"><%= @book.title %></span>.
    Why not strike up a conversation and find out if the read was worth it?
  </p>
  <p class="mt-s">Best,</p>
  <p>The Bookshelf team</p>
</div>
