<div>
  <p class="mb-s">Hey <%= @recipient.first_name %>,</p>
  <p>Exciting news— a book has made its way back to the Bookshelf!</p>
  <p>
    <span class="font-bold"><%= @reserver.full_name %></span> just wrapped up their reservation of <span class="font-bold"><%= @book.title %></span>.
    Why not strike up a conversation and find out if the read was worth it?
  </p>
  <p>Keep those pages turning!</p>
  <p class="mt-s">Cheers!</p>
</div>
