<div class='mx-auto'>
	<h1 class='font-bold text-5xl mb-8'>My reservations</h1>
	<% @reservations.each do |reservation| %>
			<%= turbo_frame_tag("#{dom_id(reservation)}_row") do %>
				<%= render('reservations/row', reservation: reservation) %>
			<% end %>
	<% end %>
</div>