<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      p {
        font-family: 'Inter var';
        font-size: '10.875rem';
      }

      .mt-s {
        margin-top: 2rem;
      }

      .mb-s {
        margin-bottom: 2rem;
      }

      .font-bold {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
